<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">

    <title>To do list</title>
</head>

<body>
    <div class="box" id="heading">
        <h1><%= kindofDay %></h1>
    </div>

    <div class="box">

        <% newListItems.forEach(function(item){ %>

        <!-- check box and deletion  -->
        <form action="/delete" method="POST">
            <div class="item">
                <!-- use ejs for each posting's item.id  -->
                <input type="checkbox" name="checkbox" value="<%= item.id %>" onChange="this.form.submit()">
                <p><%=item.content%></p>
            </div>
        </form>
        <% })%>


        <!--Todo items input and submit button -->
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>


    </div>



</body>

</html>